// node_modules
node_modules

// config
config.js
config_example.js

// db
server/db/db.js

// bundle.js
package-lock.json
config_example.js
config.js
/Users/andrewmitchell/Documents/hr-nyc/legacy/myCopy/greenfield/client/bundle.js